@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model IPagedList<Eshop.Models.Product>
@{
    int _current = ViewBag.CurrentPage;
    int _next = _current + 1;
    ViewData["Title"] = "Quản lý sản phẩm - Trang " + _current;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Quản lý sản phẩm</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <form asp-controller="Products" asp-action="Index">
                                <label class="col-md-6">
                                    <input type="search" name="searchStr" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Tìm kiếm" aria-controls="dataTable" required />
                                </label>
                            </form>
                            <hr />

                            <a asp-area="Admin" asp-controller="Products" asp-action="Create" class="btn btn-primary">
                                <i class="fas fa-plus"></i>
                                <span>Thêm sản phẩm</span>
                            </a>
                            <hr />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                   cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                   style="width: 100%;">

                                <thead>
                                    <tr role="row" class="align-middle text-center">
                                        <th>Ảnh</th>
                                        <th><a asp-route-sortOrder="@ViewData["IdSortParm"]">Id</a></th>
                                        <th>Tên sản phẩm</th>
                                        <th>Loại sản phẩm</th>
                                        <th>Giá</th>
                                        <th>Kho</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>


                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr class="align-middle text-center">
                                                <td>
                                                    <img src="~/images/products/@item.Image" style="width: 100px; height: 100px" alt="">
                                                </td>
                                                <td class="sorting_1">@item.Id</td>
                                                <td>@item.Name</td>
                                                <td>@item.ProductType.Name</td>
                                                <td>@item.Price.ToString("#,##0") VNĐ</td>
                                                <td>@item.Stock</td>
                                                <td>
                                                    @if (item.Status && item.Stock > 0)
                                                    {
                                                        <span class="badge badge-lg badge-warning" style="padding: 10px">Còn hàng</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-lg badge-dark" style="padding: 10px">Hết hàng</span>
                                                    }
                                                </td>
                                                <td>
                                                    <a asp-area="Admin" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">
                                                        <i class="fas fa-info"></i>Xem
                                                    </a>
                                                    <a asp-area="Admin" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-danger">
                                                        <i class="fas fa-edit"></i>Sửa
                                                    </a>
                                                    <a asp-area="Admin" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark">
                                                        <i class="fas fa-remove"></i>Xoá
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">

                        <div class="row">
                            <div class="col-4">
                                <div class="pagination left">
                                    @Html.PagedListPager(Model, page => Url.Action("index", new {page = page}), new PagedListRenderOptions()
                                    {
                                    ActiveLiElementClass = "active",
                                    PageClasses = new[]{ "page-link"},
                                    LiElementClasses=new[] { "page-item" },
                                    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
                                    LinkToNextPageFormat = "Next",
                                    LinkToPreviousPageFormat = "Previous",
                                    MaximumPageNumbersToDisplay = 3,
                                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                    DisplayLinkToNextPage = PagedListDisplayMode.Always
                                    })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
