@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model IPagedList<Eshop.Models.Invoice>

@{
    int _current = ViewBag.CurrentPage;
    int _next = _current + 1;
    ViewData["Title"] = "Đơn hàng chưa duyệt - Trang " + _current;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Đơn hàng chưa duyệt</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">

                            <form asp-controller="Invoices" asp-action="DSHDChuaDuyet">
                                <label>
                                    <input type="search" name="searchStr" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Tìm kiếm" aria-controls="dataTable" required />
                                </label>
                            </form>
                            <hr />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                   cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                   style="width: 100%;">

                                <thead>
                                    <tr role="row">
                                        <th>Id</th>
                                        <th>Đơn hàng</th>
                                        <th>Trạng thái</th>
                                        <th>Ngày mua (MM/dd/yyyy)</th>
                                        <th>Tổng tiền</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="sorting_1">@item.Id</td>
                                                <td>@item.Account.FullName</td>
                                                <td>
                                                    @if (item.Status)
                                                    {
                                                        <span class="badge badge-lg badge-warning" style="padding: 10px">Đã thanh toán</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-lg badge-dark" style="padding: 10px">Chưa duyệt</span>
                                                    }
                                                </td>
                                                <td>@item.IssuedDate</td>
                                                <td>@item.Total.ToString("#,##0") VNĐ</td>
                                                <td class="align-middle text-center">
                                                    <a asp-area="Admin" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">
                                                        <i class="fas fa-info"></i>Xem
                                                    </a>
                                                    <a asp-area="Admin" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-danger">
                                                        <i class="fas fa-edit"></i>Sửa
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr><td style="color:red">Danh sách đơn hàng trống!</td></tr>
                                    }
                                </tbody>
                            
                            </table>
                        </div>
                    </div>


                    <div class="row">

                        <div class="row">
                            <div class="col-4">
                                <div class="pagination left">
                                    @Html.PagedListPager(Model, page => Url.Action("index", new {page = page}), new PagedListRenderOptions()
                                    {
                                    ActiveLiElementClass = "active",
                                    PageClasses = new[]{ "page-link"},
                                    LiElementClasses=new[] { "page-item" },
                                    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
                                    LinkToNextPageFormat = "Next",
                                    LinkToPreviousPageFormat = "Previous",
                                    MaximumPageNumbersToDisplay = 3,
                                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                    DisplayLinkToNextPage = PagedListDisplayMode.Always
                                    })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->